*{
	margin: 0;
	padding: 0;
	
    
}
body{
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
    background-image:url(images/qq.jpg);
	background-position: center center;
	position: relative;
}
img{
	border-radius: 300vh;
	padding: 50px;
	width: 170px;
	margin-top: -15px;
}
.welocome-text{
	position:absolute;
	text-align:center;
	margin-left: 50vh;
	margin-top: 70vh;
	

}
.welcome-text a{
    padding: 10px 25px;
	text-decoration:none;
	text-transform: uppercase;
	font-size: 17px;
	margin-top: 20px;
	color: white;
	display: inline-block;
	margin-top:-0vh;
}
<style type="text/css">

    h2{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
     background-color: black;
    }
    .text-container h2{
        margin-top: -20px;
        font-size: 70px;
        color: rgba(225,225,225,.1);
        background-image: url(images/picture.jpg);
        background-repeat: repeat-x;
        -webkit-background-clip: text;
        animation: animate 15s linear infinite;
    }
    @keyframes animate {
        0%{
            background-position: left 0px top 10px;
        }
        40%{
            background-position:left 800px top 10px;
        }
    }
    .text-container{
        margin-top: 1%;    
        text-align:center;
    
    }
    
    </style>

<style type="text/css">

    h3{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
     background-color: black;
    }
    .text-container h3{
        font-size: 50px;
        color: rgba(225,225,225,.1);
        background-image: url(images/picture.jpg);
        background-repeat: repeat-x;
        -webkit-background-clip: text;
        animation: animate 15s linear infinite;
    }
    @keyframes animate {
        0%{
            background-position: left 0px top 10px;
        }
        40%{
            background-position:left 800px top 10px;
        }
    }
    .text-container{
        margin-top: 1%;    
        text-align:center;
    
    }
    
   


</style>
