*{
    margin: 0;
    padding: 0;
   
}
body{
    background: transparent url(images/pastrano.jpg);
    background-position: center center;
    position: relative;
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;

}
#main{
    width: 100%;
    height: 100vh;
    background-size: cover;
  position: relative;

}
.vid{
    margin-top: 0px;
 margin-left: : 0px;
     margin-right: : 0px;
margin-bottom: 0px;

}
.form{

    width: 90%;
    background-image:url(images/background2.jpg);
    border: 5px solid gold ;
    padding: 0px;
    margin: 8% auto 0 ;
    margin-top: 3%;
    position: relative; 
}
.form1{

    width: 90%;
    background-image:url(images/background1.jpg);
    border: 5px solid gold ;
    padding: 0px;
    margin: 8% auto 0 ;
    margin-top: 3%;
    position: relative; 
}
.decor{
        width: 70%;
        background: lightgrey;
        border: 3px solid ;
        padding: 20px;
        margin: 2% auto 0;
        text-align: center;
}
.contact12{
        width: 500px;
        background: pink;
        border: 3px solid red ;
        padding: 20px;
        margin:-2% auto 0;
        text-align: center;
}
button
{
color: whitesmoke;
background: green;
width: 14%;
padding: 10px;
border-radius: 20px;
font-size: 15px;
border: 3px solid gold;
outline: none;
cursor: pointer;
}
nav{
    width: 100%;
    height: 60px;
     font-style: inherit;
    background-color: green;
    margin-top: 20px;  
    line-height: 60px;

    
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    line-height: 20px;
    transition: 0.8s all;
}

nav ul{
    float: right;
    margin-left: 30px;
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 20px;
}

nav ul li:hover{
    background-color: black;
}

.cotainer{
    
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}
.container span{
  
    text-transform: uppercase;
    display: green;
    width: 105%;
    
}
.text1{
    color: whitesmoke;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 8px;
     background: green;
    border: 2px solid red ;
    margin-bottom: 20px;
    position: relative;
    animation: text 3s 1;
    text-align: center;
}
.text2{
    font-size: 30px;
    color: rgb(255, 81, 0);
    text-align: center;
}

@keyframes text{
    0%{
        color: black;
        margin-bottom: -40px;
        
    }
    30%{
        letter-spacing: 25spx;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
.animated-text{
    color: rgb(117, 4, 102);
    position: absolute;
    top:50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    padding: 0 40px;
    background:transparent;
    height: 100px;
    overflow: hidden;
    border-radius: 100px;
    font-family: 'Courier New', Courier, monospace;
}
.line{

    text-transform: uppercase;
    text-align: center;
    font-size: 100px;
    line-height: 40px;
    color:orange;
    font-size: 40px;
}
.line:first-child{
    animation: anim 15s  infinite;
}

@keyframes anim{
    0%{
        margin-top: 0; 
    }
    10%{
        margin-top: -60px;
    }
    33%{
        margin-top: -120px;
    }
    50%{
        margin-top: -180px;
    }
    66%{
        margin-top: -120px;
    }
    82%{
        margin-top: -60px;
    }
    100%{
        margin-top: 0;
  
}
.social-icons{
    margin:1px auto;
    text-align: center;
    top: 10px;
    
    
}
.social-icons img{
    width: 30px;
    margin: 10px;
    box-shadow: 0 0 20px 0 #ee2704;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #08f308;
}

